
.grid-container {
    min-width: 90%;
    border: none;
  }

  
  #box-user-log{
    border: none;
    margin-top: 15px;
    max-width: 54%;
    
  }

  
  
  #entrar-user{
    font-size: 26px;
    margin-right: 40px;
  }
  

  #nome-user{
    font-size: 31px;
  }
  
  

  #nome-funcao {
    
  }
  
  #data-users{
    margin-left: -40vh;
  }

  #funcao-user{
    font-size: 20px;
    margin-bottom: 30px;
  }
  
  #text-input{
    text-align: center;
    max-width: 88%;
    margin-right: 55px;
    
  }

  #botoes{
    margin-left: 11%;
  }

  #senha-input{

    text-align: center;
    
  }
  #ibage{
    margin-left: 39px;
    margin-bottom: 30%;
  }
  