
/* -- */

.modal-90w{
  max-width: 50%;
}


#box-user-log-modal{
  border: none;
  margin-top: 15px;
  max-width: 60%;
  
}

#entrar-user-modal{
  font-size: 26px;
  margin-right: 40px;
}


#nome-user-modal{
  font-size: 31px;
}



#nome-funcao-modal{
  
}

#data-users-modal{
  margin-left: -40vh;
}

#funcao-user-modal{
  font-size: 20px;
  margin-bottom: 30px;
}

#text-input-modal{
  text-align: center;
  max-width: 88%;
  margin-right: 55px;
  
}

#botoes-modal{
  margin-left: 11%;
}

#senha-input-modal{

  text-align: center;
  
}
#ibage-modal{
  margin-left: 39px;
  margin-bottom: 30%;
}


  /* -- */