

#placas-abertura-button{ 
    margin-right: 157vh;
}
#placas-abertura-button.allow{ 
    
 
    
}
#placas-abertura-collapse{
    padding-top: 20px;
}



#placas-cardas-button{ 
    margin-top: 30px;
    margin-right: 158vh;
}
#placas-cardas-button.allow{ 
    
   
}
#placas-cardas-collapse{
    padding-top: 20px;
}





#placas-fuso-button{ 
    margin-top: 30px;
    margin-right: 160vh;
}
#placas-fuso-button.allow{ 
    
    
  

}
#placas-fuso-collapse{
    padding-top: 20px;
}




#placas-openend-button{ 
    margin-top: 30px;
    margin-right: 156vh;
}
#placas-openend-button.allow{ 
    
    
  

}
#placas-openend-collapse{
    padding-top: 20px;
}






#placas-oerieter-button{ 
    margin-top: 30px;
    margin-right: 157vh;
}
#placas-oerieter-button.allow{ 
    
}
#placas-mutableoe-collapse{
    padding-top: 20px;
}



#placas-openend360-button{ 
    margin-top: 30px;
    margin-right: 153vh;
}
#placas-openend360-button.allow{ 
    
}
#placas-mutableoe-collapse{
    padding-top: 20px;
}




.grid-container{
    
    
}


.button-inicial { 
    
   
}

#grids{
    margin-top: 3px;
   
}